name: SonarQube Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonar-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # - name: Set up JDK 17
      #   uses: actions/setup-java@v3
      #   with:
      #     java-version: 17
      #     distribution: temurin

      # - name: Java Path 
      #   run: |
      #     which java
      #       echo $JAVA_HOME

      - name: Show All JAVA
        run: update-alternatives --config java


      - name: Install SonarScanner
        run: |
          curl -sL https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-6.0.0.4432-linux.zip -o sonar-scanner.zip
          unzip sonar-scanner.zip
          mv sonar-scanner-6.0.0.4432-linux sonar-scanner
          echo "SONAR_SCANNER_HOME=$(pwd)/sonar-scanner" >> $GITHUB_ENV
          echo "PATH=$(pwd)/sonar-scanner/bin:$PATH" >> $GITHUB_ENV
      - name: Run SonarScanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          sonar-scanner \
            -Dsonar.projectKey=pratikshatiwari_eshopOnWeb-correlation \
            -Dsonar.organization=pratikshatiwari \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.sources=.
          
      - name: Run SonarScanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} # Secure token stored in GitHub Secrets
        run: |
          sonar-scanner \
            -Dsonar.projectKey=pratikshatiwari_Sample-Node.js-Application \
            -Dsonar.organization=pratikshatiwari \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.sources=. \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
